mat-card {
    max-width: 400px;

    margin: 2em auto;

    text-align: center;
}

mat-form-field {
    display: block;
    padding: 5px 0px 25px 2px;
}

.mat-card-header{
    display:block;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}
