<mat-toolbar color="primary">
    <span>
        <button mat-button routerLink="/users">User Management</button>

        <button mat-button routerLink="/users"><mat-icon>home</mat-icon></button>
    </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" class="loginButton" *ngIf="!isLoggedIn">
        <mat-icon>power_settings_new</mat-icon>

        Login
    </button>
    <button mat-button class="loginButton" (click)="logout()" *ngIf="isLoggedIn">
        <mat-icon>power_settings_new</mat-icon>

        Logout
    </button>
</mat-toolbar>

<div class="mat-app-background basic-container"><router-outlet></router-outlet></div>
